
#bootstrap-overrides-btnSearch{
    width:0;
    margin-left: 10px;

}
/*center all td th*/
td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.search-bar{
    display:block !important;
}

.input-group{
    margin: 20px 0px;
}

/*Get all Sparklines component having the same size*/
svg {
    height: 150px;
}

/*Find the first td inside of each row and also find the first td and it child div which is gonna be the GoogleMap*/
td:first-of-type, td:first-of-type > div {
    height: 200px;
    width:250px;
}